In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('play_tennis.csv')
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [3]:
data.drop(columns=['day'],inplace=True)

In [4]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [ ]:
#problem 1
#outllok=sunny temp=hot humidity=high,wind=weak
#play or no play

#problem 2
#outlook=overcast,temp=cold,humid=low,wind==weak
#play or no play

In [ ]:
#solution
#P(yes|Sunny,hot,high,weak)=p(sunny|yes)*p(hot|yes)*p(high|yes)*p(weak|yes)*p(yes)
#p(no|sunny,hot,high,weak)=p(sunny|no)*p(hot|no)*p(high|no)*p(weakk|no)*p(no)
#compare and decide using the maximum a posteriori rule

In [5]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [6]:
P_yes=9/14
P_no=5/14

In [7]:
# for outlook column
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [ ]:
pon=0
prn=2/5
psn=3/5
poy=4/9
pry=3/9
psy=2/9

In [8]:
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [9]:
pcn=1/5
phn=2/5
pmn=2/5
pcy=3/9
phy=2/9
pmy=4/9

In [10]:
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [11]:
phighno=4/5
pnn=1/5
phighy=3/9
pny=6/9

In [ ]:
# aba yesai haldai jau