In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
response

In [4]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [5]:
df = pd.DataFrame()

In [6]:
dfs = []

In [7]:
for i in range(1, 429):
    response = requests.get(
        f'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}'
    )
    temp_df = pd.DataFrame(response.json()['results'])[
        ['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']
    ]
    dfs.append(temp_df)

In [8]:
# for i in range(1,429):
#     response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
#     temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
#     df = df.append(temp_df,ignore_index=True)

In [9]:
df=pd.concat(dfs, ignore_index=True)

In [10]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,33.1802,8.712,28969
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,27.2815,8.686,21898
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,17.5191,8.571,13234
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,12.7267,8.566,16745
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,14.0548,8.549,9437
...,...,...,...,...,...,...,...
8555,2018,The Wedding Planner,"San Francisco's premiere wedding planner, Mary...",2001-01-26,3.5283,5.927,1756
8556,301502,Blonde,"From her volatile childhood as Norma Jeane, th...",2022-09-16,5.2495,5.925,1445
8557,167032,Curse of Chucky,"After her mother's mysterious death, Nica begi...",2013-10-08,4.9035,5.926,1640
8558,34480,The Descent: Part 2,"Distraught, confused, and half-wild with fear,...",2009-10-14,4.5849,5.926,1228
8559,664341,Eileen,"During a bitter 1964 Massachusetts winter, you...",2023-12-01,6.3602,5.920,323

In [11]:
df.shape

(8560, 7)

In [12]:
df.to_csv('movies.csv')